<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112851374706-6nb0bf80frs6va8m4ki9q211hspujmjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112851374706-6nb0bf80frs6va8m4ki9q211hspujmjq</string>
	<key>API_KEY</key>
	<string>AIzaSyAM9BnPMsEXkz_McGzu9w5XlprqdIuAnCo</string>
	<key>GCM_SENDER_ID</key>
	<string>112851374706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drewsapp.Freespeaker</string>
	<key>PROJECT_ID</key>
	<string>freespeaker-1c889</string>
	<key>STORAGE_BUCKET</key>
	<string>freespeaker-1c889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112851374706:ios:34f7fa80886a9e1c</string>
	<key>DATABASE_URL</key>
	<string>https://freespeaker-1c889.firebaseio.com</string>
</dict>
</plist>